@import "./Base.css";

.skill-set li svg {
  width: 90px;
  height: 90px;
}

.skill-set .express img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .skill-set .express img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 500px) {
  .skill-set .express img {
    width: 60px;
    height: 60px;
  }
}
